# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

#include<stdio.h>
int hanio(int x);
int main(){
      int n,y;
      scanf("%d",&n);
      y=hanio(n);
      printf("%d",y);
      return 0;
}
int hanio(int x){
      int sum;
      if(x==1){
            sum=1;
      }
      else{
            sum=hanio(x-1)*2+1;
      }
      return sum;
}
